<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品详情查看</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/jquery-3.3.1/jquery-3.3.1.js}"></script>
</head>

<body>
   <form class="layui-form"  th:action="@{/edit}" th:object="${product}" id="productFrom"  method="post">

        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">商品编号：</label>
            <div class="layui-input-block">
                <input type="text" name="productId" id="productId"  style="width: 400px;"   placeholder="请输入商品编号"  class="layui-input">
            </div>
        </div>
       <div class="layui-form-item">
           <label class="layui-form-label">商品名称：</label>
           <div class="layui-input-block">
               <input type="text" name="productName" id="productName"  style="width: 400px;"  placeholder="请输入商品名称"  class="layui-input">
           </div>
       </div>
	   
	   <div class="layui-form-item">
           <label class="layui-form-label">商品单价：</label>
           <div class="layui-input-block">
               <input type="number" step="0.01" name="unitPrice" id="unitPrice"  style="width: 400px;"  placeholder="请输入商品单价"  class="layui-input">
           </div>
       </div>
	   
	   <div class="layui-form-item">
           <label class="layui-form-label">计量单位：</label>
           <div class="layui-input-block">
               <input type="text" name="unit" id="unit"  style="width: 400px;"  placeholder="请输入计量单位"  class="layui-input">
           </div>
       </div>
	   
	   <div class="layui-form-item">
           <label class="layui-form-label">类别编号：</label>
           <div class="layui-input-block">
               <input type="number" name="categoryId" id="categoryId"  style="width: 400px;"  placeholder="请输入类别编号"  class="layui-input">
           </div>
       </div>
	   
	   

       <div class="layui-form-item">
           <div class="layui-input-block">
               <button type="button" class="layui-btn"  th:onclick="'javascript:save()'">确认</button>
               <button type="reset" class="layui-btn layui-btn-primary">重置</button>
           </div>
       </div>
    </form>

</body>

<script>

    function save(){
        var productId = $("#productId").val();
        var unit = $("#unit").val();
        var categoryId = $("#categoryId").val();
        var productName = $("#productName").val();
        var unitPrice = $("#unitPrice").val();

        if(productName.trim()==""){
            parent.layer.msg("请输入商品名称");
            return;
        }
        if(productId.trim()==""){
            parent.layer.msg("请输入商品编号");
            return;
        }
        if(unitPrice.trim()==""){
            parent.layer.msg("请输入商品单价");
            return;
        }
        if(unit.trim()==""){
            parent.layer.msg("请输入商品计量单位");
            return;
        }
        if(isNaN(categoryId))
        {
            parent.layer.msg("类别必须是1-6的数字(1蔬菜,2水果,3饮品,4百货,5优惠券，6其它)");
            return;
        }
        if(categoryId>6 || categoryId<1)
        {
            parent.layer.msg("类别必须是1-6的数字(1蔬菜,2水果,3饮品,4百货,5优惠券，6其它)");
            return;
        }
        if(isNaN(unitPrice)){
            parent.layer.msg("单价必须是数字");
            return;
        }
        $.ajax({
            url: "/productAdd",
            type: "POST",
            data:{"productId":productId,"productName":productName,"unitPrice":unitPrice,"unit":unit,"categoryId":categoryId},
            dataType: "json",
            success: function(data){
                if(data==1){
                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    parent.layer.close(index);  // 关闭layer
                    parent.layer.msg("新增成功", {icon: 6});
                    parent.location.reload();
                }else{
                    parent.layer.msg("新增失败", {icon: 5});
                }
            }
        });
    }

</script>
</html>