<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>活动详情查看</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/jquery-3.3.1/jquery-3.3.1.js}"></script>
</head>

<body>
   <form class="layui-form"  th:action="@{/edit}" th:object="${serviceActivity}" id="serviceActivityFrom"  method="post">

	   	<div class="layui-form-item" style="margin-top: 20px;">
           <label class="layui-form-label">活动名称：</label>
           <div class="layui-input-block">
               <input type="text" name="projectName" id="projectName" style="width: 400px;" placeholder="请输入志愿活动的名称"  class="layui-input">
           </div>
       </div>
	   
	   <div class="layui-form-item" style="margin-top: 20px;">
           <label class="layui-form-label">活动内容：</label>
           <div class="layui-input-block">
			<textarea name = "content" id = "content" rows="5" cols = "400px" placeholder="请输入志愿活动的内容" class="layui-input">			
			</textarea>
           </div>
       </div>
	    
		<div class="layui-form-item" style="margin-top: 20px;">
           <label class="layui-form-label">活动开始时间：</label>
           <div class="layui-input-block">
			<input type="datetime-local" name="beginTime" id="beginTime" style="width: 400px;" placeholder="请输入活动开始时间"  class="layui-input">
           </div>
       </div>
	   
	   	<div class="layui-form-item" style="margin-top: 20px;">
           <label class="layui-form-label">报名截止时间：</label>
           <div class="layui-input-block">
			<input type="datetime-local" name="registrationDeadline" id="registrationDeadline" style="width: 400px;" placeholder="请输入报名截止时间" class="layui-input">
           </div>
       </div>
	   
	   	<div class="layui-form-item" style="margin-top: 20px;">
           <label class="layui-form-label">招募人数：</label>
           <div class="layui-input-block">
			<input type="number" name="recruitmentNumbers" id="recruitmentNumbers" style="width: 400px;" placeholder="请输入招募人数" class="layui-input">
           </div>
       </div>
	   
	   <div class="layui-form-item" style="margin-top: 20px;">
           <label class="layui-form-label">报名要求：</label>
           <div class="layui-input-block">
			<input type="text" name="requirement" id="requirement" style="width: 400px;" placeholder="请输入报名要求" class="layui-input">
           </div> 
       </div>
	  
	   <div class="layui-form-item" style="margin-top: 20px;">
           <label class="layui-form-label">活动状态：</label>
           <div class="layui-input-block">
			<input type="text" name="projectStatus" id="projectStatus" style="width: 400px;" placeholder="招募中" class="layui-input">
           </div> 
       </div>
	   

       <div class="layui-form-item">
           <div class="layui-input-block">
               <button type="button" class="layui-btn"  th:onclick="'javascript:save()'">确认</button>
               <button type="reset" class="layui-btn layui-btn-primary">重置</button>
           </div>
       </div>
    </form>

</body>

<script>

    function save(){
		var projectName = $("#projectName").val(); // 活动名称
        var content = $("#content").val(); // 活动内容
		var beginTime = $("#beginTime").val(); // 活动开始时间
		var registrationDeadline = $("#registrationDeadline").val(); // 报名截止时间
		var recruitmentNumbers = $("#recruitmentNumbers").val(); // 招募人数
		var requirement = $("#requirement").val(); // 报名要求
		var projectStatus = $("#projectStatus").val(); // 活动状态

        if (projectName==""){
			alert('请输入活动名称');
            parent.layer.msg("请输入活动名称");
            return;
        }
        if(content==""){
			alert('请输入活动内容！')
            parent.layer.msg("请输入活动内容");
            return;
        }
        $.ajax({
            url: "/serviceActivityAdd",
            type: "POST",
            data:{"projectName":projectName, "content":content, "beginTime":beginTime, "registrationDeadline":registrationDeadline,
				  "recruitmentNumbers":recruitmentNumbers, "requirement":requirement, "projectStatus":projectStatus },
            dataType: "json",
            success: function(data){
                if(data==1){
                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    parent.layer.close(index);  // 关闭layer
                    parent.layer.msg("新增成功", {icon: 6});
                    parent.location.reload();
                }else{
                    parent.layer.msg("新增失败", {icon: 5});
                }
            }
        });
    }

</script>
</html>