<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户详情查看</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/jquery-3.3.1/jquery-3.3.1.js}"></script>
</head>

<body>
   <form class="layui-form"  th:action="@{/edit}" th:object="${userInfo}" id="userInfoFrom"  method="post">

        <div class="layui-form-item" style="margin-top: 20px;">
            <label class="layui-form-label">昵称：</label>
            <div class="layui-input-block">
                <input type="text" name="userId" id="userId"  style="width: 400px;"   placeholder="请输入昵称(登陆名)"  class="layui-input">
            </div>
        </div>
       <div class="layui-form-item">
           <label class="layui-form-label">姓名：</label>
           <div class="layui-input-block">
               <input type="text" name="userName" id="userName"  style="width: 400px;"  placeholder="请输入用户姓名"  class="layui-input">
           </div>
       </div>
	   
	   <div class="layui-form-item">
           <label class="layui-form-label">性别：</label>
           <div class="layui-input-block">
               <input type="text" name="userSex" id="userSex"  style="width: 400px;"  placeholder="男/女"  class="layui-input">
           </div>
       </div>
	   
	   <div class="layui-form-item">
           <label class="layui-form-label">手机号：</label>
           <div class="layui-input-block">
               <input type="text" name="userPhoneNumber" id="userPhoneNumber"  style="width: 400px;"  placeholder="请输入11位手机号"  class="layui-input">
           </div>
       </div>
	   
	   <div class="layui-form-item">
           <label class="layui-form-label">邮箱：</label>
           <div class="layui-input-block">
               <input type="email" name="userEmail" id="userEmail"  style="width: 400px;"  placeholder="请输入个人电子邮箱"  class="layui-input">
           </div>
       </div>
	   
	   	   <div class="layui-form-item">
           <label class="layui-form-label">密码：</label>
           <div class="layui-input-block">
               <input type="password" name="userPassword" id="userPassword"  style="width: 400px;"  placeholder="请输入用户密码"  class="layui-input">
           </div>
       </div>
	   
	   	   <div class="layui-form-item">
           <label class="layui-form-label">身份证号：</label>
           <div class="layui-input-block">
               <input type="text" name="userIdentityNumber" id="userIdentityNumber"  style="width: 400px;"  placeholder="请输入身份证号"  class="layui-input">
           </div>
       </div>
	   
	   	   <div class="layui-form-item">
           <label class="layui-form-label">楼栋号：</label>
           <div class="layui-input-block">
               <input type="number" name="bn" id="bn"  style="width: 400px;"  placeholder="请输入楼栋号(1~7)"  class="layui-input">
           </div>
       </div>
	   
	   
	   	   <div class="layui-form-item">
           <label class="layui-form-label">单元号：</label>
           <div class="layui-input-block">
               <input type="number" name="un" id="un"  style="width: 400px;"  placeholder="请输入单元号(1~3)"  class="layui-input">
           </div>
       </div>
	   
	   
	   	   <div class="layui-form-item">
           <label class="layui-form-label">门牌号：</label>
           <div class="layui-input-block">
               <input type="number" name="rn" id="rn"  style="width: 400px;"  placeholder="请输入门牌号(101~103)(201~203)..(501~503)"  class="layui-input">
           </div>
       </div>
	   

       <div class="layui-form-item">
           <div class="layui-input-block">
               <button type="button" class="layui-btn"  th:onclick="'javascript:save()'">确认</button>
               <button type="reset" class="layui-btn layui-btn-primary">重置</button>
           </div>
       </div>
    </form>

</body>

<script>
    function IsNum(s)
    {
        if(s!=null){
            var r,re;
            re = /\d*/i; //\d表示数字,*表示匹配多个数字
            r = s.match(re);
            return (r==s)?true:false;
        }
        return false;
    }

    function save(){
        var userId = $("#userId").val();  //昵称(登录名)
        var userName = $("#userName").val(); //用户姓名
        var userSex = $("#userSex").val(); //用户性别
        var userPhoneNumber = $("#userPhoneNumber").val(); //用户手机号码
		var userEmail = $("#userEmail").val(); //用户电子邮箱
		var userPassword = $("#userPassword").val(); //用户登录密码
		var userIdentityNumber = $("#userIdentityNumber").val(); //用户身份证号
		var bn = $("#bn").val(); //用户所在楼栋号
		var un = $("#un").val(); //用户所在单元号
		var rn = $("#rn").val(); //用户门牌号
        //alert("userId:["+userId+"],userName:["+userName+"],userSex:["+userSex+"],phone:["+userPhoneNumber+"],email:["+userEmail+"],pwd:["+userPassword+"],idn:["+userIdentityNumber+"],bn:["+bn+"],un:["+un+"],rn:["+rn+"]");
        if(userId==""){
            alert("请输入昵称");
            parent.layer.msg("请输入用户昵称(登录名)");
            return;
        }
        if(userName==""){
            alert("请输入姓名");
            parent.layer.msg("请输入用户姓名");
            return;
        }
        if(userSex==""){
            alert("请输入性别");
            parent.layer.msg("请输入用户性别");
            return;
        }
        if(userPhoneNumber==""){
            alert("请输入手机号码");
            parent.layer.msg("请输入用户手机号码");
            return;
        }
		if(userEmail=="") {
		    alert("请输入电子邮箱");
			 parent.layer.msg("请输入用户电子邮箱");
			 return;
		}
		if(userPassword=="") {
		    alert("请输入登录密码");
			parent.layer.msg("请输入用户登录密码");
			return;
		}
		if(userIdentityNumber=="") {
		    alert("请输入身份证号");
			parent.layer.msg("请输入用户身份证号");
			return;
		}
		
		if(isNaN(bn)) {
		    alert("楼栋号不是数字！")
			parent.layer.msg("楼栋号必须是1-7范围内的数字");
			return;
		}
		if(isNaN(un)) {
		    alert("单元号不是数字！");
			parent.layer.msg("单元号必须是1~3范围内的数字");
			return;
		}
		if(isNaN(rn)) {
		    alert("门牌号不是数字！");
			parent.layer.msg("门牌号必须是101~103 201~203 .. 501~503范围内的数字！");
			return;
		}

		bn = Number(bn);
		un = Number(un);
		rn = Number(rn);
		if(bn<1||bn>7) {
		    alert("门牌号必须是1-7范围内的数字！")
			parent.layer.msg("楼栋号必须是1-7范围内的数字");
			return;
		}
		if(un<1||un>3) {
		    alert("单元号必须是1-7范围内的数字！");
			parent.layer.msg("单元号必须是1~3范围内的数字");
			return;
		}
		var fn = rn/100;
		var tn = rn%10;
		if(fn>5||fn<1||tn>3||tn<1) {
		    alert("门牌号必须是101~103 201~203 .. 501~503范围内的数字！")
			parent.layer.msg("门牌号必须是101~103 201~203 .. 501~503范围内的数字！");
			return;
		}



        $.ajax({
            url: "/userInfoAdd",
            type: "POST",
            data:{"userId":userId,"userName":userName,"userSex":userSex,"userPhoneNumber":userPhoneNumber,"userEmail":userEmail,"userPassword":userPassword,"userIdentityNumber":userIdentityNumber,"bn":bn,"un":un,"rn":rn},
            dataType: "json",
            success: function(data){
                if(data==1){
                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    parent.layer.close(index);  // 关闭layer
                    parent.layer.msg("新增成功", {icon: 6});
                    parent.location.reload();
                }else{
                    parent.layer.msg("新增失败", {icon: 5});
                }
            }
        });
    }

</script>
</html>